<div class="content-head">
  处理详情
  <i class="pull-right fa fa-remove fa-2x m-r-sm m-t-xs"
     style="cursor: pointer"
     ng-click="detailVm.cancel()">
  </i>
</div>
<form class="w-content-main h-detail-form clearfix"
      name="dealComplainForm" novalidate>
  <div class="main-info">
    <div class="row m-b-sm">
      <span class="title">{{detailVm.model.proposerName}}</span>
      <span class="phone">{{detailVm.model.proposerMobile}}</span>
      <span class="date pull-right" style="width: 180px;">投诉时间：{{detailVm.model.gmtCreated | date: 'yyyy-MM-dd HH:mm'}}</span>
    </div>
    <div class="row m-b-sm">
      <span class="address">{{detailVm.model.location}}</span>
      <span class="pull-right text-primary" style="width: 180px;">处理时间：{{detailVm.model.processTime | date: 'yyyy-MM-dd HH:mm'}}</span>
    </div>
  </div>
  <div class="other-info">
    <div class="row m-b-md">
      <div class="pull-left word-break" style="position: relative;">
        {{detailVm.model.content}}
        <img ng-if="detailVm.model.status == '已处理'&&!detailVm.model.snapshotArr.length"
             src="../../images/finish.png" alt="..."
             style="width: 100px;">
        <!--position: absolute;top: -10px;right: 0px;-->
      </div>
    </div>
    <div class="row">
      <div class="pull-left" style="position: relative;">
        <img ng-src="{{item}}" alt="..." class="m-r-md cursor-pointer" width="106" height="106" ng-repeat="item in detailVm.model.snapshotArr">
        <img ng-if="detailVm.model.status == '已处理'&&detailVm.model.snapshotArr.length"
             src="../../images/finish.png" alt="..."
             style="position: absolute;top: 23px;right: -43px;width: 100px;">
      </div>
    </div>
  </div>
</form>