<div class="content-head">
  {{crudVm.title}}
  <i class="pull-right fa fa-remove fa-2x m-r-sm m-t-xs"
     style="cursor: pointer"
     ng-click="crudVm.cancel()">
  </i>
</div>
<form class="w-content-main create-form clearfix announceForm"
      name="announceForm"
      novalidate>
  <div class="p-md announce-form-box">
    <div class="row"
         ng-class="{true: 'm-b-lg', false: 'm-b-md'}[!announceForm.title.$valid&& (announceForm.title.$dirty || announceForm.submitted)]"
         style="position: relative;">
      <label class="m-r-sm text-right pull-left w-label-control" style="width: 60px;">公告标题:</label>
      <div class="pull-left m-r-lg" style="width: 140px">
        <input type="text"
               ng-maxlength="20"
               class="w-xl p-h-xs m-r-xs w-form-control"
               ng-model="crudVm.model.title"
               name="title"
               required
        >
      </div>
      <div class="error-box"
           ng-if="announceForm.title.$dirty||announceForm.submitted">
        <span class="form-error" ng-show="announceForm.title.$error.required">
          公告标题不能为空
        </span>
        <span class="form-error" ng-show="announceForm.title.$error.maxlength">
          公告标题不能超过20个字
        </span>
      </div>
    </div>

    <div class="row m-b-md"
         ng-class="{true: 'm-b-lg', false: 'm-b-md'}[!crudVm.count && announceForm.submitted]"
         style="position: relative;">
      <label class="m-r-sm text-right pull-left w-label-control" style="width: 60px;">公告范围:</label>
      <div class="pull-left m-r-lg">
        <input type="text"
               class="w-xl p-h-xs m-r-xs w-form-control"
               placeholder="请在右侧选择"
               required
               disabled
        >
      </div>
      <div class="error-box"
           ng-if="announceForm.submitted">
        <span class="form-error" ng-show="!crudVm.count">
          请选择公告范围
        </span>
      </div>
    </div>

    <div class="row"
         ng-class="{true: 'm-b-lg', false: 'm-b-md'}[!announceForm.content.$valid&& (announceForm.content.$dirty || announceForm.submitted)]"
         style="position: relative;">
      <label class="m-r-sm text-right pull-left w-label-control" style="width: 60px;">公告内容:</label>
      <div class="pull-left m-r-lg">
      <textarea type="text"
                name="content"
                id="addrArea"
                ng-model="crudVm.model.content"
                class="form-control w-xl"
                style="height: 100px"
                ng-maxlength="200"
                required>
      </textarea>
      </div>
      <div class="error-box"
           ng-if="announceForm.content.$dirty||announceForm.submitted">
        <span class="form-error" ng-show="announceForm.content.$error.required">
          公告内容不能为空
        </span>
        <span class="form-error" ng-show="announceForm.content.$error.maxlength">
          公告内容不能超过200字
        </span>
      </div>
    </div>

    <div class="row position-rel"
         ng-class="{true: 'm-b-lg', false: 'm-b-md'}[!announceForm.date1.$valid&& (announceForm.title.$dirty || announceForm.submitted)]">
      <label class="m-r-sm text-right pull-left w-label-control" style="width: 60px;">公告时间:</label>
      <div class="pull-left" style="width: 320px;">
        <input type="text"
               ng-model="crudVm.model.st"
               class="w-form-control pull-left w-sm m-r-xs bg-date"
               data-date-format="yyyy-MM-dd"
               data-date-type="number"
               data-min-date="{{crudVm.model.st || 'today'}}"
               data-max-date="{{crudVm.model.et || '2050-12-31'}}"
               data-autoclose="1"
               bs-datepicker
               name="date1"
               required
        />
        <label class="pull-left time-rod">—</label>
        <input type="text"
               ng-model="crudVm.model.et"
               class="w-form-control pull-left w-sm bg-date"
               data-date-format="yyyy-MM-dd"
               data-date-type="number"
               data-min-date="{{crudVm.model.st}}"
               data-autoclose="1"
               bs-datepicker
               name="date2"
               required
        />
      </div>
      <div class="error-box"
           ng-if="announceForm.date1.$dirty||announceForm.submitted">
        <span class="form-error" ng-show="announceForm.date1.$error.required">
          公告时间不能为空
        </span>
      </div>
    </div>

    <div class="row m-b-md text-center">
      <button class="btn btn-sm btn-primary p-h-lg"
              ng-if="crudVm.title == '创建公告'"
              ng-click="crudVm.createAnnounce(crudVm.model)">
        保&nbsp;存
      </button>
      <button class="btn btn-sm btn-primary p-h-lg"
              ng-if="crudVm.title == '编辑公告'"
              ng-click="crudVm.editAnnounceSave(crudVm.model)">
        保&nbsp;存
      </button>
    </div>
  </div>
  <div style="width: 33%;" class="p-md pull-left">
    <div ivh-treeview="crudVm.stuff"
         ivh-treeview-on-cb-change="crudVm.awesomeCallback(ivhNode, ivhIsExpanded, ivhTree)"></div>
    <style>
      .modal-dialog{
        width: 700px;
        background: #F9FAFD;
        border-radius: 12px
      }
      .announce-form-box{
        width: 67%;
        float: left;
        background: #fff;
        border-right:1px solid #d8d8d8;
        border-bottom-left-radius: 12px
      }
      .error-box{
        position: absolute;
        bottom: -20px;
        left: 72px;
        font-size: 12px;
      }
      .time-rod{
        position: relative;
        top: 5px;
        right: 2px
      }
      span.indented.tree-label {
        margin-left: 10px;
      }

      span.ivh-treeview-checkbox-wrapper {
        position: relative;
        top: -1px;
      }
    </style>
  </div>
</form>