<div class="app-aside-inner affix-top" bs-affix style="position: static;">
  <div class="app-aside-body hover">
    <div class="text-right p-h-md m-v-lg">
      <!--<i class="glyphicon glyphicon-align-justify text-lt cursor-pointer"-->
      <!--ng-click="mainVm.asideToggle()"></i>-->
    </div>
    <div class="text-center p-h-md m-v-sm">
      <img src="images/logo.png" alt="logo" width="30%">
    </div>
    <div class="text-center">
      <span class="text-lt cursor-pointer" style="font-weight: 700;">Weker物业管理平台</span>
    </div>
    <nav style="z-index: 10">
      <ul class="nav p-v-lg m-t-lg">
        <li ng-class="{'active': item.isActive}" ng-repeat="item in mainVm.asideArr">
          <a href="javascript:;" style="font-size: 14px" ng-click="mainVm.switchNavItem($index)">
            <i class="fa text-lt {{item.icon}}"></i>
            <span class="font-normal">{{item.title}}</span>
            <i ng-if="item.item&&!item.isActive" class="fa fa-chevron-right pull-right"
               style="position: relative; top: 3px;"></i>
            <i ng-if="item.item&&item.isActive" class="fa fa-chevron-down pull-right"
               style="position: relative; top: 3px;"></i>
          </a>
          <ul class="nav nav-sub bg fad" ng-if="item.isActive">
            <li ng-class="{'active': state.includes(childItem.sref), 'left-active': state.includes(childItem.sref)}"
                ng-repeat="childItem in item.item">
              <a ng-click="mainVm.switchItem(childItem)">
                &nbsp;&nbsp;{{childItem.itemName}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>