<div class="navbar-header"
     ng-class="{'app-brand-sm': mainVm.asideSmall}">
  <button class="pull-right visible-xs"
          ng-click="mainVm.asideCollapse = !mainVm.asideCollapse"
  >
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>
  <a class="navbar-brand text-center"></a>
</div>
<div class="collapse navbar-collapse hidden-xs hidden-sm">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <a href="javascript:;">
        <span>当前位置：</span>
        {{mainVm.currentNav.b_title}}
        <span class="" ng-if="mainVm.currentNav.itemName">{{' - ' + mainVm.currentNav.itemName}}</span>
        <!--<span>{{'Customer Management'}}</span>-->
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li uib-dropdown>
      <a href="javascript:;" class="clear no-padding-h" uib-dropdown-toggle>
        <span class="m-l ">{{mainVm.wekerUsername}}</span>
        <span class="caret m-r-sm"></span>
      </a>
      <div class="dropdown-menu w-sm animated fadeInUp" role="menu" style="border: none;">
        <div class="panel bg-white">
          <div class="list-group m-t-sm">
            <!--<a ui-sref="update-password" class="media list-group-item ">-->
              <!--<span class="media-body block m-b-none">-->
                <!--修改密码<br>-->
              <!--</span>-->
            <!--</a>-->
            <a href="javascript:;" ng-click="mainVm.logout()" class="media list-group-item p-v-sm" style="padding-bottom: 15px">
              <span class="media-body block m-b-none">
                退出登录<br>
              </span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>