<div class="g-table-banner p-md b-b">
  <div class="tb-flex">
    <div class="item m-b-sm">
      <label class="w-label-control">访客姓名: </label>
      <input type="text"
             class="form-control w-sm pull-left m-r-lg"
             ng-model="visitorVm.selectList.visitorName">
    </div>
    <div class="item m-b-sm">
      <label class="w-label-control">身份证号码: </label>
      <input type="text"
             class="form-control w-sm pull-left m-r-lg"
             ng-model="visitorVm.selectList.identityNum">
    </div>
    <div class="item m-b-sm">
      <label class="w-label-control">设备类型: </label>
      <div class="w-sm pull-left m-r-lg">
        <my-select model="visitorVm.selectList.deviceType"
                   placeholder="请选择设备类型"
                   opt-list="['围墙机', '单元机']">
        </my-select>
      </div>
    </div>
    <div class="item m-b-sm">
      <label class="w-label-control">被呼叫对象: </label>
      <input type="text"
             class="form-control w-sm pull-left m-r-lg"
             ng-model="visitorVm.selectList.pattern">
    </div>
    <div class="item m-b-sm">
      <label class="w-label-control">时间范围: </label>
      <input type="text"
             ng-model="visitorVm.selectList.startTime"
             class="form-control w-sm pull-left m-r-xs bg-date"
             data-date-format="yyyy-MM-dd"
             data-date-type="number"
             data-max-date="{{visitorVm.selectList.endTime||'today'}}"
             data-autoclose="1"
             bs-datepicker
             placeholder=""
      />
      <label class="pull-left datepicker-split">—</label>
      <input type="text"
             ng-model="visitorVm.selectList.endTime"
             class="form-control w-sm pull-left m-r-lg bg-date"
             data-date-format="yyyy-MM-dd"
             data-date-type="number"
             data-min-date="{{visitorVm.selectList.startTime}}"
             data-max-date="today"
             data-autoclose="1"
             bs-datepicker
             placeholder=""
      />
    </div>
  </div>
  <div class="row text-center">
    <my-filter-button get-search="visitorVm.getSearch(selectList, getList)"
                      clear-session="visitorVm.clearSession()"
                      select-list="visitorVm.selectList"
                      get-list="visitorVm.getVisitorList">
    </my-filter-button>
  </div>
</div>

<div class="g-table-content m-t-md p-h-md">

  <table class="table table-striped wk-table">
    <thead>
    <th width="14%">设备名称</th>
    <th width="13%">被呼叫对象</th>
    <th width="12%">访客姓名</th>
    <th width="13%">身份证</th>
    <th width="12%">住址</th>
    <th width="12%">呼叫时间</th>
    <th width="12%">缩略图</th>
    <!--<th width="12%">操作</th>-->
    </thead>
    <tr ng-repeat="item in visitorVm.visitorList">
      <td>{{item.deviceName || '-'}}</td>
      <td>{{item.pattern || '-'}}</td>
      <td>{{item.visitorName || '-'}}</td>
      <td>{{item.identityNum || '-'}}</td>
      <td>{{item.address}}</td>
      <td>{{item.callTime | date: 'yyyy-MM-dd HH:mm:ss' || '-'}}</td>
      <td>
        <div>
          <img ng-src="{{item.faceImage}}" alt="..." style="width: 88px;">
        </div>
      </td>
      <!--<td>-->
        <!--<a class="m-r-sm" href="javascript:;"-->
           <!--ng-click="logVm.openModal('modal-open-detail','detailOpenCtl as detailVm', item)">详情</a>-->
      <!--</td>-->
    </tr>
  </table>
</div>
<div class="m-t-lg text-center"
     ng-if="!visitorVm.visitorList.length">
  暂无数据
</div>
<my-pagination
  ng-if="visitorVm.visitorList.length"
  pages="visitorVm.pages"
  page-active="page.active"
  is-first-page="visitorVm.isFirstPage"
  is-last-page="visitorVm.isLastPage"
  pages-num="visitorVm.pagesNum"
  pages-total="visitorVm.pagesTotal"
  page-skip="pageSkip"
  select-page="visitorVm.selectPage(pageTag, pageNo)">
</my-pagination>

<div class="clearfix"></div>