<div class="g-table-banner p-md b-b">
  <div class="tb-flex">
    <div class="item m-b-sm">
      <label class="w-label-control">人员姓名: </label>
      <input type="text"
             class="form-control w-sm pull-left m-r-lg"
             ng-model="commonVm.selectList.userName">
    </div>

    <div class="item m-b-sm">
      <label class="w-label-control">手机号码: </label>
      <input type="text"
             class="form-control w-sm pull-left m-r-lg"
             ng-model="commonVm.selectList.mobile">
    </div>

    <div class="item m-b-sm">
      <label class="w-label-control">人员身份: </label>
      <div class="w-sm pull-left m-r-lg">
        <my-select model="commonVm.selectList.userStatus"
                   placeholder="请选择处理状态"
                   opt-list="['物业人员', '外部人员']">
        </my-select>
      </div>
    </div>

    <div class="item m-b-md">
      <label class="w-label-control">卡片状态: </label>
      <div class="w-sm pull-left m-r-lg">
        <my-select model="commonVm.selectList.status"
                   placeholder="请选择处理状态"
                   opt-list="['正常', '过期']">
        </my-select>
      </div>
    </div>

  </div>

  <div class="row text-center">
    <my-filter-button get-search="commonVm.getSearch(selectList, getList)"
                      clear-session="commonVm.clearSession()"
                      select-list="commonVm.selectList"
                      get-list="commonVm.getCommonList">
    </my-filter-button>
  </div>
</div>

<div class="g-table-content m-t-md p-h-md">

  <div class="prop-button-group pull-right m-b-sm">
    <button class="btn btn-sm btn-primary m-r-sm"
            ng-click="doorVm.openModal('modal-common-crud','crudCommonCtl as crudVm')">
      添加公卡
    </button>
  </div>

  <table class="table table-striped wk-table">
    <thead>
    <th>人员姓名</th>
    <th>人员身份</th>
    <th>手机号码</th>
    <th>卡类型</th>
    <th>卡号</th>
    <th>有效期</th>
    <th>卡片状态</th>
    <th>操作</th>
    </thead>
    <tr ng-repeat="item in commonVm.commonList">
      <td>{{item.userName || '-'}}</td>
      <td>{{item.userStatus || '-'}}</td>
      <td>{{item.mobile || '-'}}</td>
      <td>{{item.cardType || '-'}}</td>
      <td>{{item.cardNo || '-'}}</td>
      <td>{{item.startTime | date: 'yyyy-MM-dd'}} 至 {{item.endTime | date: 'yyyy-MM-dd'}}</td>
      <td>
        <span class="state-circle" ng-class="{'circle-red': item.status == '过期', 'circle-green': item.status == '正常'}"></span>
        {{item.status || '-'}}
      </td>
      <td>
        <a class="m-r-sm" href="javascript:;"
           ng-click="doorVm.openModal('modal-common-detail','detailCommonCtl as detailVm', item.id)">
          详情
        </a>
        <a href="javascript:;"
           ng-click="doorVm.openModal('modal-alarm','doorAlarm as dAlarmVm', item)">
          删除
        </a>
      </td>
    </tr>
  </table>

  <!--<div class="no-data flex-center flex-column">-->
  <!--暂无数据-->
  <!--</div>-->

</div>
<div class="m-t-lg text-center"
     ng-if="!commonVm.commonList.length">
  暂无数据
</div>
<my-pagination
  ng-if="commonVm.commonList.length"
  pages="commonVm.pages"
  page-active="page.active"
  is-first-page="commonVm.isFirstPage"
  is-last-page="commonVm.isLastPage"
  pages-num="commonVm.pagesNum"
  pages-total="commonVm.pagesTotal"
  page-skip="pageSkip"
  select-page="commonVm.selectPage(pageTag, pageNo)">
</my-pagination>

<div class="clearfix"></div>